<div class="flex flex-col gap-4 shadow-lg justify-items-start items-start border border-gray-300 rounded-lg p-4">
  <%= image_tag(product.image.blob, alt: "image.png", class: "w-[100px] h-[100px] object-cover rounded-t-lg") %>

  <h1 class="font-bold text-lg mt-4">
    <%= product.name %>
  </h1>

  <div class="ml-5">
    <h1 class="font-bold text-lg <% if product.quantity <= 10 %>
      text-red-500
    <% end %>">
      <%= product.quantity %> units
    </h1>
  </div>

  <div class="flex gap-4 mt-2">
    <%= link_to "View", product_path(product), class: 'bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-400' %>
    <%= button_to "Delete", product, method: :delete, class: 'bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-700' %>
  </div>
</div>
