<!DOCTYPE html>
<html>
  <head>
    <title>InventoryManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="container ml-[2em] mt-[3em] px-5 flex gap-3">
    
      <%= render "layouts/sidebar"%>
      <%= yield %>
    </main>
  </body>
</html>
